
.w-100 {
    object-fit: cover;
    max-width: 100vmax;

}

.banner{
    width: inherit;
}

.writeup{
    text-align: left;
  position: absolute;
  top: 130px;
  left: 56px;
  width: 40%;
}
.banhead{
    font-size: 4.4rem;
    font-weight: bolder;
    color: #fff;
}
.banexp{
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .writeup {
        top: 100px;
        left: 30px;
    }
    .banhead{
        font-size: 3.7rem;
    }
    .banexp{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1020px) {
    .banhead{
        font-size: 3.4rem;
    }
    .banexp{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 900px) {
    .banhead{
        font-size: 3rem;
    }
    .banexp{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 805px) {
    .banhead{
        font-size: 2.5rem;
    }
    .banexp{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 685px) {
    .banhead{
        font-size: 2rem;
    }
    .banexp{
        font-size: 1rem;
    }
}
@media screen and (max-width: 590px) {
    .banhead{
        font-size: 1.5rem;
    }
    .banexp{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 490px) {
    .writeup {
        top: 80px;
        left: 10px;
    }
    .banhead{
        font-size: 1rem;
    }
    .banexp{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 400px) {
    .banhead{
        font-size: 0.7rem;
    }
    .banexp{
        font-size: 0.4rem;
    }
}