.bkg2{
    min-height: 300px;
    padding-bottom: 10px;
}
.resourceshead{
    padding-top: 70px;
    color: white;
}
#reshead{
    font-weight:1000;
}
#resdesc{
    font-size:larger;
}

/* RESOURCES CONTAINER */
.resourcecontainer{
    border:1px solid black;
    border-radius: 5px;
    background-color: #f1f1f1;
}

#addresource{
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-weight: bolder;
    font-size:x-large;
    background-color: #117bef;
    border: 2px solid #117bef;
}

.redirectrow{
    align-items: center;
    border: 1px solid grey;
    background-color: #ffffff;
    border-radius: 20px;

}

.redirectbtncol{
    font-weight: bold;
    color: white;
}

.redirectbtn{
    border-radius: 50px;
}

@media screen and (max-width:567px) {
    .resourcerform{
        flex-direction: column;
    }
}