.bkg{
    height: 300px;
}
.bg-gradient-info {
    background: linear-gradient(
87deg,#11cdef,#1171ef)!important;
}

/* TRACK FORM */
.trackform{
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top:-180px;
    box-shadow: 0px 1px 2px black;
    border : 1px solid gray;
    max-width: 500px;
    background-color: #edf5ff;
}
#addtrack{
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-weight: bolder;
    font-size:x-large;
    
}
/* PRESENT TRACK */
.present-track{
    position: relative;
    top:-180px;
    padding: 50px;
}

.trackflex{
    justify-content:space-between;
    text-align: center;
}

.trackcard{
    box-shadow: 0px 1px 2px black;
    display: flex;
    flex-direction: column;
    width: 32%;
    max-height: 100%;
    border-radius: 5px;
    border: 1px solid black; 
    background-color:#edf5ff ; 
}

@media screen and (max-width:584px) {
    .present-track{
        padding: 25px;
    }
    .trackcard{
        width: 49%;
    }

}
@media screen and (max-width:300px) {
    .trackcard{
        width: 100%;
    }

}