/* web section */
/* #edf5ff */
#catalog{
    background-color: #f1f1f1;
    max-width: 100%;
    margin: 0;
}
.notrack{
    border: 2px dashed black;
    height: 150px;
    padding-top: 50px;
}
.addbtn{
    border-radius: 50px;
    font-size: x-large;
    background-color: #1371a4;
    border-color:#1371a4;
}
.webcontainer{
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px black;
}
.webrow{
    align-items: center
}
.w-30{
    text-align: center;
    max-width: 35%;

}
#webimg{
    max-width:-webkit-fill-available;
    border-radius: 5px;
}
#webhead{
    max-width: fit-content;
}

.available{
    background-color: rgb(197, 27, 27);
    color: white;
    width: fit-content;
    border-radius: 5px;
    font-weight:bold;
    
}
.learnbtn{
    background-color: rgb(19 113 164);
}
.webtext{
    font-size: larger;
}

/* Other Courses */
.othersection{
    justify-content:center;
    
    /* flex-wrap: wrap; */
}

#other{
    /* object-fit: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px black;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    /* max-width: 32%; */
    height: 150px;
    border-radius: 5px;
}

@media screen and (max-width:742px) {
    .webrow{
        flex-direction: column;
        height: 40%;
    }
    .w-30{
        max-width:initial;
    }
}