.all {
  /* background: #c4c9ce; */
  /* background-image: url(https://i.pinimg.com/564x/31/e9/f7/31e9f725b1208147ac6265b7e0e1cf87.jpg); */
  /* background-image: url("https://whmcsglobalservices.com/wp-content/uploads/2018/09/login-bg.jpg"); */
  background-repeat: no-repeat;
  min-height: 100vh;
  background: linear-gradient(
87deg,#11cdef,#1171ef)!important;
  /* background-size: 100%; */
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container {
  margin-inline: 150px;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  box-shadow: 0 0 5px 0;
  padding-right: 0;
  background-color: aliceblue;
}
@media screen and (min-width:1240px) {
  .flex-container{
    margin-inline: 300px;
  }
}

/* .leftauth {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 0;
}

.rightauth {
  height: auto;
  width: 30%;
  background: url(https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/productimage/2020/11/18/7d512a34-8a7e-4b70-aebb-c64ff65dd7921605664025278-1.jpg)
    no-repeat center center/cover;
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
} */

#right h2 {
  margin-top: 47%;
  margin-left: 30%;
}
.authrow{justify-content: center;
}
.loglogo {
  width: 15%;
}
@media screen and (max-width:500px) {
  .loglogo {
    width: 40%;
  }
  
}
/* .google {
  text-align: center;
  background: #e0dfdb;
  border-radius: 0.3rem;
  border-color: #000;
}

.google span {
  margin-top: 1.5rem;
  border: 2px;
  text-align: center;
  width: fit-content;
} */

/* .google h6 {
  margin-top: 13px;
  margin-left: 1rem;
}

.google:hover {
  background: #e9e9e1;
  cursor: pointer;
}

.google img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
} */

#or {
  text-align: center;
  font-size: small;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 48rem) {
  /* For Tablets */
  .right {
    display: none;
  }

  .flex-container {
    display: block;
    margin-inline: 5px;
  }

  .left {
    width: 35rem;
  }
}

@media only screen and (max-width: 48rem) {
  .google {
    margin-left: 0.5rem;
  }

  #or {
    font-size: large;
  }
}

@media only screen and (max-width: 48rem) {
  #btngrp {
    margin-bottom: 1rem;
  }
}
